[class*=col-], [class*=mobile-col-] {
  margin: 0; }

.grid {
  position: relative;
  max-width: 0;
  min-width: 100%;
  overflow: initial; }

header {
  color: #fff; }
  header h1 {
    color: #fff; }

h3 {
  text-transform: uppercase; }

section.mainContent {
  background-color: #fff;
  color: #717171; }
