$white: #fff;
$grey: rgb(113, 113, 113);

[class*=col-], [class*=mobile-col-] {
    margin: 0;
}
.grid {
    position: relative;
    max-width: 0;
    min-width: 100%;
    overflow: initial;
}

header {
    color: $white;
    h1 {
        color: $white;
    }
}

h3 {
    text-transform: uppercase;
}

section.mainContent {
    background-color: $white;
    color: $grey;
}
