$headerColor: #00BFFF;
$white: #fff;
$grey: rgb(113, 113, 113);
$greyLight: rgb(189, 189, 189);
$greyBackground: rgb(246, 246, 246);
$greyBorder: #c1c1c1;

/** Utils classes **/
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}

.center {
    text-align: center;
}

.grid-pad {
    margin: 0;
    padding: 0;
}
[class*=mobile-col-] {
    margin: 0;
}

header {
    background-color:$headerColor;
    padding: 20px;
    color: $white;
    h1 {
        color: $white;
        margin: 0;
    }
}
.redArrow {
    max-width: 16px;
}
.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.uppercase {
    text-transform: uppercase;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

body {
    font-family: Arial, 'sans-serif';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    h1 {
        font-size: 1.5em;
    }
}

section.mainContent {
    color: $grey;
}