<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><!--include:title--></title>
    <meta name="description" content="<!--include:description-->">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />

    <!--include:css-->
    <link rel="stylesheet" href="<!--include:main-css-->">
</head>
<body>

    <!--include:template-->

    <script src="<!--include:main-js-->"></script>
</body>
</html>
